<a href="https://colab.research.google.com/github/Seyospogi/Zyrus/blob/main/Copy_of_1st_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Zyrus123-dev/BSIS_2A/main/example.csv')

In [ ]:
df.head()

   age   income  gender  purchased
0   32      NaN    male        1.0
1   23  12323.0  female        1.0
2   23   4423.0     NaN        0.0
3   44   1345.0  female        NaN
4   43  54523.0     NaN        1.0

In [ ]:
print(df.tail())

   age   income  gender  purchased
1   23  12323.0  female        1.0
2   23   4423.0     NaN        0.0
3   44   1345.0  female        NaN
4   43  54523.0     NaN        1.0
5   12   2312.0  female        1.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        6 non-null      int64
 1   income     5 non-null      float64
 2   gender     4 non-null      object
 3   purchased  5 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 320.0+ bytes

In [ ]:
print (df.describe())

             age        income  purchased
count   6.000000      5.000000   5.000000
mean   29.500000  14985.200000   0.800000
std    12.565827  22519.713924   0.447214
min    12.000000   1345.000000   0.000000
25%    23.000000   2312.000000   1.000000
50%    27.500000   4423.000000   1.000000
75%    40.250000  12323.000000   1.000000
max    44.000000  54523.000000   1.000000

In [ ]:
print(df.shape)

(6, 4)

In [ ]:
print(df.columns)

Index(['age', 'income', 'gender', 'purchased'], dtype='object')

In [ ]:
df = df.drop('age', axis=1)

In [ ]:
df = df.fillna(0)

In [ ]:
df = df.dropna()

In [ ]:
df = df.sort_values(by='age', ascending=False)

In [ ]:
grouped = df.groupby('gender').mean()

In [ ]:
df['gender'] = df['age'].apply(lambda x: x * 2)

In [ ]:
df1 = pd.DataFrame({'key': ['age', 'gender'], 'value': [1, 2]})
df2 = pd.DataFrame({'key': ['age', 'gender'], 'value': [3, 4]})
merged_df = pd.merge(df1, df2, on='key')

In [ ]:
pivot_df = df.pivot_table(values = 'age' , index= 'gender' ,aggfunc='mean')